<div class="search-bar">
  <div class="search-bar__fields">
    <div class="search-bar__field">
      <input class="search-bar__input" type="text" placeholder="Event name">
    </div>
    <hr class="search-bar__divider" />
    <div class="search-bar__field">
      <input class="search-bar__input" type="text" placeholder="Event location">
    </div>
  </div>
  <div class="search-bar__button">
    <button class="button">
      <fa-icon class="button__icon" [icon]="faMagnifyingGlass" [size]="'xs'"></fa-icon>
    </button>
  </div>
</div>