<div class="search-bar">
  <!-- Input fields -->
  <div class="search-bar__fields">

    <!-- Event name input field -->
    <div class="search-bar__field">
      <input class="search-bar__input" type="text" placeholder="Event name">
    </div>

    <hr class="search-bar__divider" />

    <!-- Event location input field -->
    <div class="search-bar__field">
      <input class="search-bar__input" type="text" placeholder="Event location">
    </div>

  </div>

  <!-- Search button -->
  <div class="search-bar__button">
    <button class="button">
      <fa-icon class="button__icon" [icon]="faMagnifyingGlass" [size]="'xs'"></fa-icon>
    </button>
  </div>

</div>