@use '../../../styles' as styles;

.user-avatar {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  justify-content: space-between;

  &__menu {
    cursor: pointer;
    color: styles.$blue;
  }
}

@media screen and (max-width: 575.98px) {
  .user-avatar__profile {
    display: none;
  }
}