@use '../../../styles' as styles;

.container {
  display: flex;
  flex-direction: row nowrap;
  width: 100%;
  height: 100%;

  &__login {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .login__header {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1em;
      margin: 0 0 3em 0;

      .header__logo {
        width: 3em;
        height: 3em;
      }

      .header__title {
        font-size: 1.25em;
        font-weight: bold;
        color: styles.$blue;
      }
    }

    .login__body {
      width: 50%;
      margin: 0 auto;
      align-items: center;

      .body__title {
        width: 100%;
        margin: auto 0;
        font-size: 1.5em;
        font-weight: bold;
      }
    }

    .login__action {
      display: none;
      width: 100%;
      margin-top: 5em;

      .action__link {
        font-weight: bold;
        color: styles.$blue;
      }
    }
  }

  &__decoration {
    position: relative;
    width: 40%;
    height: 100%;

    .decoration__background {
      width: auto;
      height: 100%;
      object-fit: cover;
    }

    .decoration__action {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      .action__title {
        text-align: center;
        font-size: 2em;
        font-weight: bold;
        color: styles.$blue;
      }

      .action__subtitle {
        text-align: center;
        font-size: 1em;
        color: white;
      }

      .action__button {
        margin: 0 auto;
        margin-top: 2.5em;
      }
    }
  }
}

@media screen and (max-width: 575.98px) {
  .container {
    &__login {
      width: 100%;
      height: 100%;

      .login__body {
        width: 80%;
      }

      .login__action {
        display: flex;
        flex: row nowrap;
        align-items: center;
        justify-content: center;
        gap: 0.1em;
      }
    }

    &__decoration {
      display: none;
    }
  }
}

@media screen and (max-width: 767.98px) {
  .container {
    &__login {
      width: 100%;
      height: 100%;

      .login__body {
        width: 70%;
      }

      .login__action {
        display: flex;
        flex: row nowrap;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
      }
    }

    &__decoration {
      display: none;
    }
  }
}