<section class="container">

  <!-- Left side -->
  <div class="container__login">

    <!-- OpenEvents logo -->
    <div class="login__header">
      <img class="header__logo" src=" ../../../assets/images/ticket.svg" alt="OpenEvents Logo">
      <span class="header__title">OpenEvents</span>
    </div>

    <!-- Login form -->
    <div class="login__body">
      <h1 class="body__title">Sign In</h1>

      <app-login-form></app-login-form>
    </div>

  </div>

  <!-- Right side -->
  <div class="container__decoration">
    <img class="decoration__background" src="../../../assets/images/auth_background.jpg"
      alt="Authentication background">
  </div>

</section>