@use '@angular/material' as mat;

@include mat.core();

// Colors
$navy: #0D1B2A;
$marine: #1B263B;
$bluerish: #007EA7;
$blue: #40c4ff;
$broken-white: #E0E1DD;
$light-grey: #E4E1E1;

// Angular Material theme
$openevents-web-primary: mat.define-palette(mat.$blue-palette);
$openevents-web-accent: mat.define-palette(mat.$light-blue-palette, A200, A400, A700);
$openevents-web-warn: mat.define-palette(mat.$red-palette);

$openevents-web-theme: mat.define-light-theme((color: (primary: $openevents-web-primary,
        accent: $openevents-web-accent,
        warn: $openevents-web-warn,
      )));

@include mat.all-component-themes($openevents-web-theme);

// Light theme
$background-color: white;
$primary-text-color: black;
$secondary-text-color: $marine;
$accent-color: $blue;
$shadow-color: $light-grey;

body {
  background-color: $background-color;
  color: $primary-text-color;
}

// CSS Normalization
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.4em;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}